@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica/Aria','courier new ',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card{
  width: 55%;
}


.dash:last-of-type{
  display: none;
}

.tag{
  margin-right: 10px;
  margin-bottom: 10px;
}


@media only screen and (max-width:1199px){
  .card{
    width: 70%;
  }
}

@media only screen and (max-width:568px){
  .card{
    width: 90%;
  }
}

